* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 50px;
    background-color:black;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

h1 {
    font-size:xx-large;
    font-style: normal;
    color: black;
}

.navb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.n_item{
     padding: 35px;
     font-size:35px;
     font-weight:normal;
     color: rgba(110, 108, 108, 0.874);
     text-decoration: none;
}

.n_item_active{
    padding-left: 45px;
    padding-right: 45px;
    color: deepskyblue;
    text-decoration: none;
    font-size:35px;
    font-weight:normal;
    border-bottom: 2px solid deepskyblue;
}

main {
    color: gray;
    font-size: 20px;
    text-align: center;
}

.single{
    border-radius: 8px;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 1px;
}

.column {
    width: 28%;
    display: flex;
    padding:  10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    padding: 20px;
}



.special{
     color: rgb(72, 93, 200);
}
